@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #faf9f6;
}

/* shared css start */

.common-text-color {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.common-heading {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.common-button {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  border: none;
  padding: 17px 34px 17px 34px;
  background: rgb(0, 106, 80);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.common-button:hover {
  background-color: rgb(234, 10, 10);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* shared css  end */
.main-container {
  max-width: 1600px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.sign-button {
  padding: 15px 30px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  background-color: none;
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.sign-button:hover {
  background: rgb(198, 228, 214);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.nav-text-logo {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
/* Nav Section End  */

/* Banner Section Start  */
.banner-container {
  background-color: rgb(198, 228, 214);
  border-radius: 24px;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64;
  padding: 80px 100px 80px 100px;
}
.banner-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.banner-bd-text {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}

.banner-text {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 80px;
}

.card {
  width: 400px;
  height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
}

.card-heading {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.digital-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
  width: 560px;
  height: 325px;
}

.digital-card button {
  border-radius: 8px;
  background: rgb(84, 144, 245);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 11px 20px 11px 20px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.digital-card button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.green-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  width: 560px;
  height: 325px;
}

.green-card button {
  border-radius: 8px;
  background: rgb(9, 161, 92);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 11px 20px 11px 20px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.green-card button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.modern-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
  width: 560px;
  height: 325px;
}

.modern-card button {
  border-radius: 8px;
  background: rgb(255, 194, 57);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  padding: 11px 20px 11px 20px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.modern-card button:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.adviser-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 48px 24px 48px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  margin-bottom: 60px;
  background: rgb(255, 255, 255);
}

.adviser-container > p {
  background-image: url(./assets/quote-bg.png);
  background-repeat: no-repeat;
  padding: 18px;
}

.adviser-heading {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.news-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  padding: 48px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  margin-bottom: 60px;
  height: 402px;
}

.news-card img {
  border-radius: 24px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 850px;
  height: 290px;
  gap: 15px;
  padding: 0px;
}

.news-heading {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.news-time-zone {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.donation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 80px;
}

.donation-input {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  background: rgb(255, 255, 255);
  padding: 20px 580px 20px 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: rgba(14, 14, 14, 0.3);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.donation-amount {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}
.donation-card {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
  padding: 65px;
}

.donation-card:hover {
  background-color: beige;
}

#special-amount {
  background: rgb(198, 228, 214);
}

#special-amount:hover {
  background-color: beige;
}

.donation-container p {
  width: 1110px;
  text-align: center;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 80px 100px 80px 100px;
  margin-bottom: 80px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-input {
  border-radius: 8px 0px 0px 8px;
  padding: 20px 40px 20px 40px;
  background: rgb(255, 255, 255);
  width: 600px;
  border: none;
}

.subscribe-button {
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
  padding: 17px 34px 17px 34px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.subscribe-button:hover {
  background-color: rgb(234, 10, 10);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.subscribe-container p {
  width: 622px;
  text-align: center;
}

.footer-container {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 50px 160px 50px 160px;
}

hr {
  border: 1px solid rgba(14, 14, 14, 0.1);
  width: 1200px;
}

.social-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
